<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<body>
    <%-include('base_menu') -%>
    <div>
        <h2>Sarah Santana</h2>
        <p>21 anos, formada em Técnica em Administração pela ETEC</p>
        <p>Estudante do 5º período de Análise e Desenvolvimento de Sistemas na Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal</p>
        <p>Atualmente Estagiária na EDP São Paulo, em São José dos Campos.</p>
        <p>Cursos Extra Curriculares: </p>
        <p> •	Empresa IBM Cursos Online: Curso: Operador de Inteligência Artificial  </p>
        <p> •	Empresa Qualifica Cursos Gratuitos: Curso: Noções Básicas de Programação na Web EAD realizado pelo CEPHAS </p>
        <p> •	Maratona do Zero ao Código-Kenzie Academy Brasil </p> 
        </p>
    </div>
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>