/* Exemplo de CSS servido estaticamente pelo Express.
Autor: Sarah
*/



body {
	font-size: 12px;
    font-family: 'Cherry Swash', cursive;
	background-image: linear-gradient(blue, purple, green);
}


ul{
    list-style: none;
}

li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    width: 140pt;
    height: 140pt;
    background-color: rgb(105, 54, 119);
    /*border-radius: 20%;*/
    text-align: center;
    padding-top: 70pt;
    /*border-color: black;*/
    border-style: solid;
}


.descritor{
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}

nav {
	margin: 27px auto 0;
	position: relative;
	width: 250px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 110px;
}

a:nth-child(2) {
	width: 140px;
}

nav .start-sobre-mim, a:nth-child(1):hover~.animation {
	width: 110px;
	left: 0;
	background-color: #122b9c;
}

nav .start-portfolio, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 125px;
	background-color: #da2525;
}


h1 {
	text-align: center;
	/*margin: 40px 0 40px;*/
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #181a63;
	font-family: 'Lobster Two', cursive;
}

span {
    color: #2BD6B4;
}

a {
    color: rgb(248, 240, 240);
    font-size: 15px;
    transition: all 0.45s;
    text-decoration: none;
    
  }

  p {
    bottom: 20px;
    width: 100%;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px;
}

.parallax { 
    padding:2em 0em; 
    height:auto; 
    background:url(../img/fundo-parallax.jpg); 
    background-position:center top; 
    background-repeat:no-repeat; 
    background-size:cover; 
    background-attachment:fixed; 
    color:#fff; 
    text-align:center; 
    position:relative; 
}
.parallax .content { float:left; padding:3em 0; }