/* Exemplo de CSS servido estaticamente pelo Express.
Autor: Sarah
*/
body{
    background-color:rgb(129, 127, 255);
}

ul{
    list-style: none;
}

li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    width: 140pt;
    height: 140pt;
    background-color: rgb(214, 137, 235);
    border-radius: 20%;
    text-align: center;
    padding-top: 70pt;
    border-color: black;
    border-style: solid;
}

.descritor{
    font-weight: bold;
}