/* Exemplo de CSS servido estaticamente pelo Express.
Autor: Sarah
*/



body {
	font-size: 12px;
    font-family: 'Cherry Swash', cursive;
	background: linear-gradient(-45deg, #b316da, #6712f0, #1420d3, #00e1ff);
	background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

ul{
    list-style: none;
}

li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    width: 200pt;
    height: 60pt;
    background-color: rgb(148, 76, 168);
    border-radius: 15%;
    text-align: center;
    padding-top: 10pt;
    border-style:dashed;
	border-color: #fff;
}


.descritor{
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
	font-size: 20px;
}


.nome {
	color: #fff;	

}



nav {
	margin: 25px auto 0;
	position: relative;
	width: 236px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 110px;
}

a:nth-child(2) {
	width: 126px;
}

nav .start-sobre-mim, a:nth-child(1):hover~.animation {
	width: 110px;
	left: 0;
	background-color: #122b9c;
	
}

nav .start-portfolio, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 125px;
	background-color: #da2525;
}


h1 {
	text-align: center;
	font-size: 50px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #181a63;
	font-family: 'Lobster Two', cursive;
}

span {
    color: #2BD6B4;
}

a {
    color: rgb(248, 240, 240);
    font-size: 15px;
    transition: all 0.45s;
    text-decoration: none;
    
  }

  p {
    bottom: 20px;
    width: 100%;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px;
	color:#fff;
}

.titulo {
	margin-top: 20px;
	background-color: #8268e4;
	border-radius: 200px;
	text-decoration:underline;
	margin-left: 200px;
	margin-right: 200px;

}

/*container{
        background-color: rgb(68, 20, 64);
        margin-left:20px;
		margin-right: 20px;
		border-radius:5px
    }
	*/

